html, body {
  height: 100%;
  background-color: #131414;
}

.main-container {
  height: 100%;
  width: 100%;
  background-color: #212223;
  -webkit-box-shadow: inset 0px 0px 36px -4px rgba(0,0,0,0.8);
-moz-box-shadow: inset 0px 0px 36px -4px rgba(0,0,0,0.8);
box-shadow: inset 0px 0px 36px -4px rgba(0,0,0,0.8);
}

@media (min-width: 850px) {
  .main-container {
    height: 400px;
    width: 400px;
    border-radius: 5%;
  }
}

.game-container {
  height: 70%;
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.button-start {
  margin: auto;
}

.sound-button {
  margin: auto;
  justify-content: center;
  align-content: center;
  width: 120px;
  height: 120px;
  border-radius: 10%;
  -webkit-box-shadow: 0px 0px 60px -22px rgba(1,1,5,1), inset 0px 0px 63px -5px rgba(1, 1, 5, 1);
  -moz-box-shadow: 0px 0px 60px -22px rgba(1,1,5,1), inset 0px 0px 63px -5px rgba(1, 1, 5, 1);
  box-shadow: 0px 0px 60px -22px rgba(1,1,5,1), inset 0px 0px 63px -5px rgba(1, 1, 5, 1);
}

.button-red {
  background-color: #af280f;
}

.button-red.active, .button-red.enabled:active {
  background-color: #ff361a;
}

.button-blue {
  background-color: #016e87;
}

.button-blue.active, .button-blue.enabled:active {
  background-color: #17c6ff;
}

.button-yellow {
  background-color: #c9a206;
}

.button-yellow.active, .button-yellow.enabled:active {
  background-color: #ffff00;
}

.button-green {
  background-color: #01965f;
}

.button-green.active, .button-green.enabled:active {
  background-color: #00fc9f;
}

.button-start {
  height: 0px;
  width: 0px;
  border: 20px solid transparent;
  border-left: 30px solid grey;
  background color: transparent;
}
