.main-container {
  height: 400px;
  width: 400px;
  background-color: black;
}

.game-container {
  height: 70%;
  width: 70%;
  margin: auto;
  padding: auto;
  display: flex;
  flex-wrap: wrap;
}

.sound-button {
  margin: auto;
  justify-content: center;
  align-content: center;
  width: 120px;
  height: 120px;
  border-radius: 10%;
}

.button-red {
  background-color: #af280f;
}

.button-red.active, .button-red.enabled:active {
  background-color:  #ff361a;
}

.button-blue {
  background-color: #016e87;
}

.button-blue.active, .button-blue.enabled:active {
  background-color:  #17c6ff;
}

.button-yellow {
  background-color: #c9a206;
}

.button-yellow.active, .button-yellow.enabled:active {
  background-color: #ffff00;
}

.button-green {
  background-color: #01965f;
}

.button-green.active, .button-green.enabled:active {
  background-color:  #00fc9f;
}

.button-start {
  height: 0px;
  width: 0px;
  border: 20px solid transparent;
  border-left: 30px solid grey;
  background color: transparent;
}
